<v-container fluid>
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md6>
      <v-card class="elevation-12">
        <router-link :to="{name: 'user', params: {id: post.user.userId}}">
          <v-toolbar color="primary" dark flat height="50px">
            <v-toolbar-title>
              {{post.user.username}}
            </v-toolbar-title>
          </v-toolbar>
        </router-link>
        <v-card-text>
          <v-img :src="image" :lazy-src="lazyImg" class="scaled-image grey">
            <template v-slot:placeholder>
              <v-row class="fill-height ma-0" align="center" justify="center">
                <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
              </v-row>
            </template>
          </v-img>
          {{post.description}}
        </v-card-text>
        <v-card-actions>
          <v-flex fluid class="like-button">
            <v-btn class="primary post-button" block @click="like">
              {{likes}} Like
            </v-btn>
          </v-flex>
          <v-flex fluid class="dislike-button">
            <v-btn class="primary post-button" block @click="dislike">
              {{dislikes}} Dislike
            </v-btn>
          </v-flex>
          <v-flex fluid class="triple-button-comments">
            <v-btn class="primary post-button" block @click="toggleComments">
              {{commentText}}
            </v-btn>
          </v-flex>
        </v-card-actions>
        <v-card-actions class="new-row-comments">
          <v-btn class="primary post-button" block @click="toggleComments">
            {{commentText}}
          </v-btn>
        </v-card-actions>
      </v-card>
      <div v-if="showComments">
        <NewComment :postId="post.postId" @posted="fetchComments" />
        <div v-for="comment in comments">
          <Comment :comment="comment" />
        </div>
      </div>
    </v-flex>
  </v-layout>
</v-container>